@font-face {
    font-family: stickyMemo;
    src: url('../../public/myFonts/Sticky\ Memos\ Demo\ Plain.ttf');
    
    /* src: url('../../public/myFonts/FuzzyBubbles-Regular.ttf'); */
  
  }
  @font-face {
    font-family: fuzzyBubble;
    src: url('../../public/myFonts/FuzzyBubbles-Regular.ttf');
  }

.greeting{
   width: 30vw;
   font-family: fuzzyBubble;
   font-size: 4rem;
   line-height: 80px;
   color: #AAC4FF;
   box-sizing: border-box;
   position: absolute;
   left: 8vw;
   top: 20vh;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: first baseline;
   gap: 6rem;
}

.userName{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 35%;
    margin: 0%;
    padding: 0%;
    justify-content: space-around;

}

.mainDivision{
    width: 30vw;
    height: 0px;
    position: absolute;
    left: 28vw;
    top: 50vh;
    border: 2px solid #AAC4FF;
    transform: rotate(-90deg);
}

.addIcon{
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid  #B1B2FF;
    border-radius: 3px;
    padding: 4px; 
    position: absolute;
    top: 23vh;
    left: 48vw;
    cursor: pointer;
}

.addIcon:hover{
  box-shadow: 0px 0px 36px 1px #B1B2FF;
}

.searchIcon{
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid  #B1B2FF;
    border-radius: 3px;
    padding: 4px; 
    position: absolute;
    top: 28vh;
    left: 48vw;
    cursor: pointer;

}

.searchIcon:hover{
  box-shadow: 0px 0px 36px 1px #B1B2FF;
  
  
}
/* .inputBlogArea{
    position: relative;
} */

.inputBlogTitle{
    border-color:#B1B2FF;
    border-width: 1px 1px 0px 1px;
    border-style: dashed;
    border-radius: 3px 3px 0px 0px;
    width: 40vw;
    height: 5vh;
    position: absolute;
    top:15vh;
    left:50vw;
    font-family: fuzzyBubble;
    color: #D2DAFF; 
    padding: 0.5rem;

}

.inputBlogTitle::placeholder{
    font-family: fuzzyBubble;
}

.inputBlogMatter{
    border: 3px solid #B1B2FF;
    border-radius: 3px;
    width: 40vw;
    height: 15vh;
    position: absolute;
    top:20vh;
    left:50vw;
    resize: none;
    font-family: fuzzyBubble;
    color: #D2DAFF;
    padding: 0.5rem;


}

.inputBlogMatter::placeholder{
    font-family: fuzzyBubble;
}
/*------------------------------------------------------------------*/

.xyz{
    position: absolute;
    top:40vh;
    left: 50vw;
    overflow-y: auto;
    overflow-x: hidden;
    width: 40vw;
    height:50vh;

}
.existingBlogArea{
    width:40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: first baseline;    
    margin-block: 1rem;

}       

.blogAuthorName{
    color: #EEF1FF;
    font-size: 0.8rem;
}
.existingBlogTitle{
    border-color:#B1B2FF;
    border-width: 1px 1px 0px 1px;
    border-style: dashed;
    border-radius: 3px 3px 0px 0px;
    width: 40vw;
    height: 5vh;
    color: #D2DAFF;
    padding: 0.5rem;

}
.existingBlogMatter{
    border: 3px solid #B1B2FF;
    border-radius: 3px;
    width: 40vw;
    height: 10vh;
    color: #D2DAFF;
    resize: none;
    padding: 0.5rem;

} 


@media (max-width: 400px) {
    .greeting{
        /* display: none; */
        width:90%;
        height:18vh;
        font-size: 1.3rem;
        justify-content: center;
        line-height: normal;
        margin: 5px;
        position: absolute;
        top:13vh;


    }
    .mainDivision{
        /* display: none; */
        width: 40%;
        top: 35vh;
        left:15vh;
        transform: none;
    }

    .addIcon{
        /* display: none; */
        left: 90vw;
        top: 42vh;

    }

    .searchIcon{
        /* display: none; */
        top: 46vh;
        left: 90vw;

    }

    .inputBlogTitle{
        width:80%;
        height: 3vh;
        top: 38vh;
        left: 8vw;
    }

    .inputBlogMatter{
        /* display: none; */
        width: 80%;
        height: 9vh;
        top: 41vh;
        left: 8vw;
    }
}