@font-face {
    font-family: stickyMemo;
    src: url('../../public/myFonts/Sticky\ Memos\ Demo\ Plain.ttf');
}
@font-face {
    font-family: fuzzyBubble;
    src: url('../../public/myFonts/FuzzyBubbles-Regular.ttf');
}

.greeting {
    width: 30vw;
    font-family: fuzzyBubble;
    font-size: 4rem;
    line-height: 80px;
    color: #aac4ff;
    box-sizing: border-box;
    position: absolute;
    left: 8vw;
    top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: first baseline;
    gap: 6rem;
}

.userName {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35%;
    margin: 0%;
    padding: 0%;
    justify-content: space-around;
}

.mainDivision {
    width: 30vw;
    height: 0px;
    position: absolute;
    left: 28vw;
    top: 50vh;
    border: 2px solid #aac4ff;
    transform: rotate(-90deg);
}
.mainDivision::before{
    height: 10px;
    width: 10px;
    background-color: #aac4ff;
    border-radius: 50%;
    display: inline-block;
    transform: rotate(-90deg);

}

.addIcon {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #b1b2ff;
    border-radius: 3px;
    padding: 4px;
    position: absolute;
    top: 23vh;
    left: 48vw;
    cursor: pointer;
}

.addIcon:hover {
    box-shadow: 0px 0px 36px 1px #b1b2ff;
}

.searchIcon {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #b1b2ff;
    border-radius: 3px;
    padding: 4px;
    position: absolute;
    top: 28vh;
    left: 48vw;
    cursor: pointer;
}

.searchIcon:hover {
    box-shadow: 0px 0px 36px 1px #b1b2ff;
}

.inputBlogTitle {
    border-color: #b1b2ff;
    border-width: 1px 1px 0px 1px;
    border-style: dashed;
    border-radius: 3px 3px 0px 0px;
    width: 40vw;
    height: 5vh;
    position: absolute;
    top: 15vh;
    left: 50vw;
    font-family: fuzzyBubble;
    color: #d2daff;
    padding: 0.5rem;
    outline: none;
}

.inputBlogTitle::placeholder {
    font-family: fuzzyBubble;
}

.inputBlogMatter {
    border: 3px solid #b1b2ff;
    border-radius: 3px;
    width: 40vw;
    height: 15vh;
    position: absolute;
    top: 20vh;
    left: 50vw;
    resize: none;
    font-family: fuzzyBubble;
    color: #d2daff;
    padding: 0.5rem;
    outline: none;
}
.inputBlogMatter:focus {
    border: 3px solid #8587fa;
    outline: none;
}

.inputBlogMatter::placeholder {
    font-family: fuzzyBubble;
}
/*------------------------------------------------------------------*/

.previousBlogs {
    position: absolute;
    top: 40vh;
    left: 50vw;
    overflow-y: auto;
    overflow-x: hidden;
    width: 40vw;
    height: 50vh;
}
.existingBlogArea {
    width: 38.8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-block: 1rem;
}
.xyz {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #eef1ff;
}

.existingBlogAuthorName {
    font-size: 0.8rem;
}

.existingBlogTime {
    font-size: 0.8rem;
}

.existingBlogTitle {
    border-color: #b1b2ff;
    border-width: 1px 1px 0px 1px;
    border-style: dashed;
    border-radius: 3px 3px 0px 0px;
    width: 100%;
    height: 5vh;
    color: #d2daff;
    padding: 0.5rem;
}

.existingBlogTitle:focus {
    outline: none;
}

.existingBlogMatter {
    border: 3px solid #b1b2ff;
    border-radius: 3px;
    width: 100%;
    height: 10vh;
    color: #d2daff;
    resize: none;
    padding: 0.5rem;
}

.existingBlogMatter:focus {
    outline: none;
}

@media (max-width: 1000px) {
    .greeting {
        width: 80vw;
        font-size: 2rem;
        line-height: 40px;
        position: absolute;
        left: 10vw;
        top: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 0rem;
    }
    .greetMsg {
        display: block;
    }
    .mainDivision {
        display: inline;
        width: 40vw;
        top: 33vh;
        left: 30vw;
        transform: none;
    }

    .addIcon {
        left: 92vw;
        top: 44vh;
    }

    .searchIcon {
        top: 48vh;
        left: 92vw;
    }

    .inputBlogTitle {
        width: 80vw;
        height: 4vh;
        top: 38vh;
        left: 10vw;
    }

    .inputBlogMatter {
        width: 80vw;
        height: 12vh;
        top: 42vh;
        left: 10vw;
    }
    .previousBlogs {
        top: 56vh;
        left: 10vw;
        width: 80vw;
        height: 30vh;
    }
    .existingBlogArea {
        position: relative;
        width: 100%;
        margin-top: 2rem;
    }
    .existingBlogTime {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 18vh;
    }
}

@media(min-width:601px) and (max-width:1000px){
    .greeting{
        align-items: center;
    }
    .userName{
        align-items: center;
    }
}
